
{% extends 'layout.html' %}
{% set pageName = "" %}
{% block main %}
  {{ hero({
    heading: "Connect local NHS services to the NHS App",
    text: "Help people get the most from their local health services by making the services they need part of the NHS App."
  }) }}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h2 class="nhsuk-heading-l">
            Make your service part of the NHS App
          </h2>
          <p>
            When more services connect to the NHS App, more people can find and use them. Use free,
            self-serve components to integrate your service with the NHS App.
          </p>
          <p class="app-list-lead-in">
            These tools are free to anyone who works for:
          </p>
          <ul>
            <li>
              NHS Trusts
            </li>
            <li>
              Integrated Care Boards
            </li>
            <li>
              GP surgeries
            </li>
            <li>
              NHS pharmacies
            </li>
            <li>
              NHS dentists
            </li>
            <li>
              providers of NHS-commissioned services
            </li>
          </ul>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-heading-m">
            Help people book appointments for your service
          </h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <p>
            Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Tenetur excepturi reiciendis, possimus, praesentium quas corrupti cumque dolores beatae. Mollitia vitae pariatur ea soluta? Maxime asperiores veritatis consectetur modi et aliquam.
          </p>
          <p>
            <a href="/appointments">Find out more about booking appointments</a>
          </p>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img src="https://placehold.co/600x400" alt="">
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-heading-m">
            Send test kits to people
          </h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <p>
            Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Tenetur excepturi reiciendis, possimus, praesentium quas corrupti cumque dolores beatae. Mollitia vitae pariatur ea soluta? Maxime asperiores veritatis consectetur modi et aliquam.
          </p>
          <p>
            <a href="#">Find out more about finding eligible people</a>
          </p>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img src="https://placehold.co/600x400" alt="">
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-heading-m">
            Find the people who are eligible for your service
          </h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <p>
            Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Tenetur excepturi reiciendis, possimus, praesentium quas corrupti cumque dolores beatae. Mollitia vitae pariatur ea soluta? Maxime asperiores veritatis consectetur modi et aliquam.
          </p>
          <p>
            <a href="#">Find out more about finding eligible people</a>
          </p>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img src="https://placehold.co/600x400" alt="">
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-heading-m">
            Send people timely messages and reminders
          </h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <p>
            Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Tenetur excepturi reiciendis, possimus, praesentium quas corrupti cumque dolores beatae. Mollitia vitae pariatur ea soluta? Maxime asperiores veritatis consectetur modi et aliquam.
          </p>
          <p>
            <a href="#">Find out more about messages and reminders</a>
          </p>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img src="https://placehold.co/600x400" alt="">
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-heading-m">
            Let people share data from their health devices
          </h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <p>
            Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Tenetur excepturi reiciendis, possimus, praesentium quas corrupti cumque dolores beatae. Mollitia vitae pariatur ea soluta? Maxime asperiores veritatis consectetur modi et aliquam.
          </p>
          <p>
            <a href="#">Find out more about sharing device data</a>
          </p>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img src="https://placehold.co/600x400" alt="">
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-heading-m">
            Help people to understand their health and spot risks
          </h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <p>
            Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Tenetur excepturi reiciendis, possimus, praesentium quas corrupti cumque dolores beatae. Mollitia vitae pariatur ea soluta? Maxime asperiores veritatis consectetur modi et aliquam.
          </p>
          <p>
            <a href="#">Find out more about health assessments</a>
          </p>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img src="https://placehold.co/600x400" alt="">
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h3 class="nhsuk-heading-m">
            Share results and explain what they mean
          </h3>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <p>
            Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Tenetur excepturi reiciendis, possimus, praesentium quas corrupti cumque dolores beatae. Mollitia vitae pariatur ea soluta? Maxime asperiores veritatis consectetur modi et aliquam.
          </p>
          <p>
            <a href="#">Find out more about test results</a>
          </p>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img src="https://placehold.co/600x400" alt="">
        </div>
      </div>
    </main>
  </div>
{% endblock %}
